<div class="announcement-bar">
  <div class="page-width">
    <div
      id="AnnouncementSlider"
      class="
        announcement-slider announcement-slider--compact
        slick-initialized slick-slider
      "
      data-compact-style="true"
      data-block-count="2"
    >
      <div aria-live="polite" class="slick-list draggable">
        <div
          class="slick-track"
          role="listbox"
          style="
            opacity: 1;
            width: 5076px;
            transform: translate3d(-1269px, 0px, 0px);
          "
        >
          <div
            class="announcement-slider__slide slick-slide slick-cloned"
            data-index="1"
            data-slick-index="-1"
            aria-hidden="true"
            tabindex="-1"
            style="width: 1269px"
          >
            <span class="announcement-text">The Roving Foleys</span>
          </div>
          <div
            id="AnnouncementSlide-1524770292306"
            class="
              announcement-slider__slide
              slick-slide slick-current slick-active
            "
            data-index="0"
            data-slick-index="0"
            aria-hidden="false"
            tabindex="-1"
            role="option"
            aria-describedby="slick-slide00"
            style="width: 1269px"
          >
            <span class="announcement-text"
              >RV Living, Camp Cooking, and Family Adventure</span
            >
          </div>
          <div
            id="AnnouncementSlide-1524770296206"
            class="announcement-slider__slide slick-slide"
            data-index="1"
            data-slick-index="1"
            aria-hidden="true"
            tabindex="-1"
            role="option"
            aria-describedby="slick-slide01"
            style="width: 1269px"
          >
            <span class="announcement-text">The Roving Foleys</span>
          </div>
          <div
            class="announcement-slider__slide slick-slide slick-cloned"
            data-index="0"
            data-slick-index="2"
            aria-hidden="true"
            tabindex="-1"
            style="width: 1269px"
          >
            <span class="announcement-text"
              >RV Living, Camp Cooking, and Family Adventure</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
